@font-face {
  font-family: 'Satoshi-Variable';
  src: url('/fonts/Satoshi-Variable.woff2') format('woff2');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'Satoshi-Variable', sans-serif;
  }

  body {
    @apply relative grid min-h-dvh font-sans antialiased;
  }

  :is(p, li, figcaption) {
    @apply max-w-prose text-pretty;
  }

  :is(h1, h2, h3, h4) {
    @apply scroll-m-12 text-balance tracking-tight;
  }
  h1 {
    @apply text-4xl font-extrabold lg:text-6xl;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl font-semibold;
  }
}
